# Core
cachetools >= 6.0.0, < 7
motor >= 3.7.0, < 4
nextcord [voice] ~= 3.2.0
ncjishaku ~= 3.1.0
pydantic-settings >= 2.12.0, < 3
pydantic >= 2.12.0, < 3
typing_extensions >= 4.15.0, < 5

# General utils
listre ~= 1.0.0

# AI talk
a3rt-talkpy ~= 1.0.0

# MC server
mcstatus ~= 10.0.0  # required < 11

# Music
niconico-dl ~= 2.2.7  # discontinued (moved to niconico.py)

# Shiritori
jaconv ~= 0.4.1
pykakasi ~= 2.3.0  # unmaintained

# Steam server
python-a2s ~= 1.4.1  # unmaintained

# Translate
deepl ~= 1.27.0
googletrans ~= 4.0.2
fast-langdetect ~= 1.0.0

# TTS
alkana == 0.0.3  # unmaintained

# Debug
distro ~= 1.9.0
psutil ~= 7.2.1
websockets >= 16.0, < 17
